<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Joke App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>A JOKE A DAY KEEPS YOUR DEPRESSION AWAY</h1>
<!-- 
  <h3>Enter your phone number to receive a funny joke to your phone every day!</h3> -->

<form action="/" method="POST">
Phone Number: <input type="text" name="number">
<button type="submit" > Submit </button>
</form>


<!-- <h3> Here is a joke today! <h3>
  <p>  <%#= @jokereturn %> </p> -->


  
</body>
</html>